<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Control Application{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@FeatureBranchMainBundle/Resources/public/bootstrap/css/*.min.css' %}
                <link rel="stylesheet" href="{{ asset_url }}"></link>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
