{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Form landing page of Control application</h1>
      <p class="lead">Jenkins job has been initiated. <a href="{{ ci_url }}" target="_blank">See jenkins jobs.</a></p>

      <p class="lead"><a href="{{ homepage }}">Go back to the main form</a></p>
    </div>
  </div>
</div>
{% endblock %}
