{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Main page of Control application</h1>

      <p class="lead">This page allow to deploy / delete branches of your current project.</p>
      {{ form_start(form) }}
          {{ form_errors(form) }}
      <table class="table">
        <tbody>
          {% for child in form.children %}
          <tr><td><div class="form-group">{{ form_row(child) }}</div></td></tr>
          {% endfor %}
      </table>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
